html{
	background : #FCDF9A;
	background-image:radial-gradient(white, #E4D1C0);
}
body{
	font-family: Arial, sans-serif;
	background : #E4D1C0;
}
header{
	text-align:center;
}
h1{
	text-align: center;
    color: #007760;
	font-size:xx-large;
}
p{
  text-align: center;
  overflow: auto;
  word-wrap: break-word;
}
footer{
	height: 43px;
	background: url("images/4saisons.png") repeat-x bottom;
}